<main class="wrapper">
<audio loop id="main" src="music/main.wav">

</audio>
<section id="scene_container">
  <div class="scene first_scene">
    <audio loop id="musicBox"src="/music/opening.wav">
    </audio>
    <audio id="whisper_open" src="music/opening_whisper.wav">
    </audio>
    <audio id="creak"src="/music/creaky.mp3">
    </audio>
    <div id="page1">
        <section class="section parallax" id= "bg1">
          <p id="clickY">Click the Y To Start</p>
          <button type="button" id="nannyBlock"></button>
          <div id="darkness">
            <!--Darkens Screen with click eventListener  -->
          </div>
        </section>
    </div>
  </div>
  <div class="scene second_scene">
    <audio loop id="storm" src="/music/lightning.wav">
    </audio>
    <div id= "page2">
      <section class="section parallax bg2">
        <div id="nanny">
        <div id="nanny_sil">
        </div>
      </div>
      <span id="tree">
      </span>
        <p id="scene1Type"> Its origins are not known and its secrets rest with the slain. The one thing that is certain...it always comes with the rain. </p>
        <p id="showType">
        </p>
        <div class="lightning">
        </div>
      </section>
    </div>
  </div>

  <div class="scene third_scene">
    <div id="page3">
      <section class="section parallax bg3">
        <audio id="knock" src="music/knock.wav">
        </audio>
        <div id="nanny_sil2">
        </div>
        <p id="clickDoor">Knock on the Door</p>
        <div id="feelersOne">
        </div>
        <div id="feelersTwo">
        </div>
        <div id="mom"></div>
        <div id="shadow"></div>
        <button type="button" id="door">KNOCK</button>

        <p id="scene2Type">Before the nanny can enter a home it ...and when the poor unsuspecting soul answers, Dunkelheit's darkness overtakes them    </p>
        <p id="showType2"></p>
      </section>
    </div>
  </div>
  <div class="scene fourth_scene">
    <div id="page4">
      <section class="section parallax bg4">
        <p id="scene3Type">Once inside, Dunkelheit begins to lure the children.</p>
        <p id="showType3"></p>
        <div id="nanny_sil3"></div>
        <div id="nannyShadow_sprite"></div>
        <div id="children1"></div>
        <div class="lightning">
        </div>
      </section>
    </div>
  </div>
  <div class="scene fifth_scene">
    <div id="page5">
      <audio loop id="stairs"src="music/stairs2.wav">

      </audio>
      <section class="section parallax bg5">
        <div id="nanny_piper">
        </div>
        <p id="scene4Type">When the children are deep within her influence...</p>
        <p id="showType4"></p>
        <div id="feelers3">

        </div>
        <div id="feelers4">

        </div>
      </section>
    </div>
  </div>
  <div class="scene sixth_scene">
    <div id="page 6">
      <audio id="downHall"src="music/downHall.wav">
      </audio>
      <section class="section parallax" id ="bg6">
        <p id="scene5Type">She leads them to their final resting place.</p>
        <p id="showType5"></p>
        <div id="nannyPiper2">
        </div>
        <div id="bust">
        </div>
        <div id="deadbust">
        </div>
        <div id="clouds1"></div>
        <div id="clouds2"></div>
        <div id="moon">
        </div>
        <h1>More</h1>
        <div class="lightning">

        </div>
      </section>
    </div>
  </div>
    <div class="scene seventh_scene">
      <div id="page7">
        <audio loop id="bedtimeWav"src="music/bedtime.wav">
        </audio>
        <section class="section parallax" id="bg7">
          <audio id="transformWav" src="music/transformation.wav">
          </audio>
          <p id="scene6Type">And when it's time to close their eyes nanny  Dunkelheit.</p>
          <p id="showType6"></p>
          <div id="border">
          </div>
          <button type="button" id="light"></button>
          <div id="transform"></div>
          <div id="lightsOut">
          </div>
          <div id="nomNom"></div>
          <div id="nannyArms"></div>
          <h1>More</h1>
          <div class="lightning">
          </div>
        </section>
      </div>
    </div>
</section>
</main>
<div id=scene1Background>
</div>
