<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="nanny.css">
  <link href="https://fonts.googleapis.com/css?family=Arima+Madurai|Julius+Sans+One" rel="stylesheet">
  <script src="//use.edgefonts.net/fredericka-the-great;unifrakturcook.js"></script>
    <script type="text/javascript" src="nanny.js"></script>
    <title>Nanny Dunkelheit</title>
  </head>
  <body>
  <%= yield %>
  <footer>
  <a id="contactLink" href="/contact">Contact</a>
  <a id="home" href="/">Home</a>

  </footer>
  </body>
</html>
